lib/broadcom-sdk-xgs/sdk-all-switchdrvr-6.5.15/broadcom/esw_sdk/tools/autocoder/dbal/dnx/dbal_types_definition.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
<xs:include schemaLocation="./dbal_field_types_enumerator.xsd" />
<xs:include schemaLocation="./dbal_system_entities.xsd"/>

<!-- Patterns -->
    <xs:simpleType name="JiraPattern">
        <xs:restriction base="xs:string">
            <xs:pattern value="[S][D][K][\-][0-9][0-9][0-9][0-9][0-9][0-9]"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ShortNamePattern">
        <xs:restriction base="xs:string">
            <xs:maxLength value="72"/>
            <xs:pattern value="([A-Z0-9_oxv])+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MemoryNamePattern">
        <xs:restriction base="xs:string">
            <xs:maxLength value="160"/>
            <xs:pattern value="([A-Z0-9_ox])+m"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RegisterNamePattern">
        <xs:restriction base="xs:string">
            <xs:maxLength value="160"/>
            <xs:pattern value="([A-Z0-9_ox])+r"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="HwFieldNamePattern">
        <xs:restriction base="xs:string">
            <xs:maxLength value="160"/>
            <xs:pattern value="([A-Z0-9_ox])+f"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FormulaPattern">
        <xs:restriction base="xs:string">
            <xs:maxLength value="160"/>
            <xs:pattern value="([A-Za-z0-9!_\.\+\-\*/%()])+"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntegerOrDnxDataPattern">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType>
                 <xs:restriction base="FormulaPattern"/>
           </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="DeviceSpecificDataPattern">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="160"/>
                    <xs:pattern value="[!]?DNX_DATA[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="160"/>
                    <xs:pattern value="[!]?DNX_DATA[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[(][)]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="160"/>
                    <xs:pattern value="[!]?DNX_DATA[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[(][0-9]+[)]"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="160"/>
                    <xs:pattern value="[!]?DNX_DATA[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[.][a-zA-Z0-9_]+[(][0-9]+[,][0-9]+[)]"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="IntegerOrDnxDataPatternOrAll">
        <xs:union>
            <xs:simpleType>
                 <xs:restriction base="IntegerOrDnxDataPattern"/>
           </xs:simpleType>
           <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="ALL"/>
                </xs:restriction>
           </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:simpleType name="IntegerOrDnxDataPatternOrName">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType>
                 <xs:restriction base="FormulaPattern"/>
           </xs:simpleType>
            <xs:simpleType>
                 <xs:restriction base="ShortNamePattern"/>
           </xs:simpleType>
        </xs:union>
    </xs:simpleType>

<!-- Names Attributes -->
    <xs:attributeGroup name="ShortNameAttr">
        <xs:attribute name="Name">
            <xs:simpleType>
                <xs:restriction base="ShortNamePattern"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="FieldAndTableNameAttr">
        <xs:attribute name="Name">
            <xs:simpleType>
                <xs:restriction base="ShortNamePattern"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="MemoryNameAttr">
        <xs:attribute name="Name">
            <xs:simpleType>
                <xs:restriction base="MemoryNamePattern"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="GroupNameAttr">
        <xs:attribute name="GroupName" use="optional">
            <xs:simpleType>
                <xs:restriction base="ShortNamePattern"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="RegisterNameAttr">
        <xs:attribute name="Name">
            <xs:simpleType>
                <xs:restriction base="RegisterNamePattern"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

<!-- Types that should be replaced by ENUMs -->
    <xs:simpleType name="TableAccessMethodTypes">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="HARD_LOGIC"/>
            <xs:enumeration value="MDB"/>
            <xs:enumeration value="TCAM_CS"/>
            <xs:enumeration value="SW_STATE"/>
            <xs:enumeration value="PEMLA"/>
            <xs:enumeration value="KBP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="PhyDbType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="TCAM"/>
            <xs:enumeration value="KAPS1"/>
            <xs:enumeration value="KAPS2"/>
            <xs:enumeration value="ISEM1"/>
            <xs:enumeration value="INLIF1"/>
            <xs:enumeration value="IVSI"/>
            <xs:enumeration value="ISEM2"/>
            <xs:enumeration value="INLIF2"/>
            <xs:enumeration value="ISEM3"/>
            <xs:enumeration value="INLIF3"/>
            <xs:enumeration value="LEM"/>
            <xs:enumeration value="IOEM1"/>
            <xs:enumeration value="IOEM2"/>
            <xs:enumeration value="MAP"/>
            <xs:enumeration value="FEC1"/>
            <xs:enumeration value="FEC2"/>
            <xs:enumeration value="FEC3"/>
            <xs:enumeration value="PPMC"/>
            <xs:enumeration value="GLEM1"/>
            <xs:enumeration value="GLEM2"/>
            <xs:enumeration value="EEDB1"/>
            <xs:enumeration value="EEDB2"/>
            <xs:enumeration value="EEDB3"/>
            <xs:enumeration value="EEDB4"/>
            <xs:enumeration value="EEDB5"/>
            <xs:enumeration value="EEDB6"/>
            <xs:enumeration value="EEDB7"/>
            <xs:enumeration value="EEDB8"/>
            <xs:enumeration value="EOEM1"/>
            <xs:enumeration value="EOEM2"/>
            <xs:enumeration value="ESEM"/>
            <xs:enumeration value="EVSI"/>
            <xs:enumeration value="SEXEM1"/>
            <xs:enumeration value="SEXEM2"/>
            <xs:enumeration value="SEXEM3"/>
            <xs:enumeration value="LEXEM"/>
            <xs:enumeration value="RMEP_EM"/>
            <xs:enumeration value="KBP"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TcamDbStageType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="PRT"/>
            <xs:enumeration value="LLR"/>
            <xs:enumeration value="VT1"/>
            <xs:enumeration value="VT2"/>
            <xs:enumeration value="VT3"/>
            <xs:enumeration value="VT4"/>
            <xs:enumeration value="VT5"/>
            <xs:enumeration value="FWD1"/>
            <xs:enumeration value="FWD2"/>
            <xs:enumeration value="IPMF1"/>
            <xs:enumeration value="IPMF2"/>
            <xs:enumeration value="IPMF3"/>
            <xs:enumeration value="EPMF"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="EncodingType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="NONE"/>
            <xs:enumeration value="PREFIX"/>
            <xs:enumeration value="SUFFIX"/>
            <xs:enumeration value="SUBTRACT"/>
            <xs:enumeration value="ADD"/>
            <xs:enumeration value="MULTIPLE"/>
            <xs:enumeration value="HARD_VALUE"/>
            <xs:enumeration value="BITWISE_NOT"/>
            <xs:enumeration value="VALID_IND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FieldPrintType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="BOOL"/>
            <xs:enumeration value="UINT32"/>
            <xs:enumeration value="IPV4"/>
            <xs:enumeration value="IPV6"/>
            <xs:enumeration value="MAC"/>
            <xs:enumeration value="ARRAY8"/>
            <xs:enumeration value="ARRAY32"/>
            <xs:enumeration value="BITMAP"/>
            <xs:enumeration value="ENUM"/>
            <xs:enumeration value="SYSTEM_CORE"/>
            <xs:enumeration value="HEX"/>
            <xs:enumeration value="STRUCTURE"/>
            <xs:enumeration value="DBAL_TABLE"/>
            <xs:enumeration value="STR"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CoreModeTypes">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="DPC"/>
            <xs:enumeration value="SBC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ConditionTypes">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="BIGGER_THAN"/>
            <xs:enumeration value="LOWER_THAN"/>
            <xs:enumeration value="EQUAL_TO"/>
            <xs:enumeration value="NOT_EQUAL_TO"/>
            <xs:enumeration value="IS_EVEN"/>
            <xs:enumeration value="IS_ODD"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TableType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
            <xs:enumeration value="EM"/>
            <xs:enumeration value="TCAM"/>
            <xs:enumeration value="TCAM_DIRECT"/>
            <xs:enumeration value="DIRECT"/>
            <xs:enumeration value="LPM"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string_0_1">
        <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
        </xs:restriction>
    </xs:simpleType>


<!-- Fields: Types and Attributes -->
    <xs:attributeGroup name="FieldTypeDefinitionAttr">
        <xs:attribute name="Name" type="ShortNamePattern"/>
        <xs:attribute name="Size" use="required" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Print" use="required" type="FieldPrintType"/>
        <xs:attribute name="ResourceName" use="optional" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="FieldEncodeAttr">
        <xs:attribute name="EncodeType" type="EncodingType"/>
        <xs:attribute name="Value" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="FieldValue" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ValueAttr">
        <xs:attribute name="Value" type="IntegerOrDnxDataPattern"/>
    </xs:attributeGroup>

    <!-- attribute for most restrict children -->
    <xs:complexType name="FieldTypeRestrictChildAttr">
        <xs:attribute name="Value" type="IntegerOrDnxDataPattern"></xs:attribute>
    </xs:complexType>
    <!--  attribute for defaultValue restrict child-->
    <xs:complexType name="FieldTypeRestrictDefaultValueAttr">
       <xs:attribute name="Value" type="IntegerOrDnxDataPatternOrName"></xs:attribute>
    </xs:complexType>


    <xs:attributeGroup name="DefineAttr">
        <xs:attribute name="Name" use="required" type="ShortNamePattern"/>
        <xs:attribute name="Value" use="required" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Description" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EnumValsAttr">
        <xs:attribute name="Name" type="ShortNamePattern"/>
        <xs:attribute name="Description" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="EnumMappingAttr">
        <xs:attribute name="Name" type="ShortNamePattern"/>
        <xs:attribute name="Value" type="IntegerOrDnxDataPattern"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="StructFieldEncodingAttr">
        <xs:attribute name="Name" type="ShortNamePattern"/>
        <xs:attribute name="Offset" use="optional" type="IntegerOrDnxDataPattern"/>
    </xs:attributeGroup>
    <xs:complexType name="RefernceFieldType">
        <xs:attribute name="Name" type="ShortNamePattern"/>
    </xs:complexType>

<!-- Tables: Types and Attributes -->
    <xs:complexType name="GeneralInfoType">
        <xs:attribute name="dbal_internal" type="string_0_1"/>
    </xs:complexType>
    <xs:attributeGroup name="TableDefinitionAttr">
        <xs:attribute name="Name" use="required" type="ShortNamePattern"/>
        <xs:attribute name="Valid" type="IntegerOrDnxDataPattern" use="optional"/>
    </xs:attributeGroup>

    <xs:complexType name="FieldDefinitionType">
         <xs:attributeGroup ref="FieldDefinitionAttr"/>
    </xs:complexType>

    <xs:complexType name="FieldDefinitionTypeWithResultType">
      <xs:complexContent>
        <xs:extension base="FieldDefinitionType">
                       <!-- value attribute is for the 1st result only, its name is always RESULT_TYPE.
                       required attributes: Name, Size, Value and Description
                       optional attributes: Offset
                   This is validated in Java. -->
            <xs:attribute name="Value"  type="xs:string" use="optional"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <!-- Table interface part -->
    <xs:attributeGroup name="FieldDefinitionAttr">
        <xs:attribute name="Name" use="required" type="ShortNamePattern"/>
        <xs:attribute name="Size" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="MinValue" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="MaxValue" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="ConstValue" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Offset" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="ArrPrefixValue" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="ArrPrefixWidth" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Type" type="FieldTypesEnum" use="optional"/>
        <xs:attribute name="Permission" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="READONLY"/>
                    <xs:enumeration value="WRITEONLY"/>
                    <xs:enumeration value="TRIGGER"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="NofInstances" type="IntegerOrDnxDataPattern" use="optional" />
        <xs:attribute name="ReverseOrder" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FALSE"/>
                    <xs:enumeration value="TRUE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Description" type="xs:string" use="optional" />
        <xs:attribute name="Valid" type="IntegerOrDnxDataPattern" use="optional" />
    </xs:attributeGroup>

    <xs:attributeGroup name="SignalDefinitionAttr">
        <xs:attribute name="Name" use="required" type="ShortNamePattern"/>
        <xs:attribute name="Size" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Offset" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Description" type="xs:string" use="optional" />
    </xs:attributeGroup>

    <xs:attributeGroup name="ResultTypeFieldInTableAttr">
        <xs:attribute name="Name" type="xs:string" use="required" fixed="RESULT_TYPE"/>
        <xs:attribute name="Size" use="required" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Offset" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Value"  type="xs:string" use="required"/>
        <xs:attribute name="Description"  type="xs:string" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="LogicalTableTypeAttr">
        <xs:attribute name="Type" type="TableType"/>
    </xs:attributeGroup>

	<xs:simpleType name="DeviceType">
   	<xs:restriction base="xs:string">
   		<xs:maxLength value="30"/>
   	    <xs:enumeration value="J2A0"/>
    	<xs:enumeration value="J2B0"/>
        <xs:enumeration value="J2A0,J2B0"/>
        <xs:enumeration value="J2A0"/>      
        <xs:enumeration value="J2B0"/>      
        <xs:enumeration value="J2A0,J2B0"/>  
	</xs:restriction>
    </xs:simpleType>
    
    
  <xs:simpleType name="LevelType">
      <xs:restriction base="xs:string">
        <xs:maxLength value="30"/>
        <xs:enumeration value="LOW" />
        <xs:enumeration value="PARTIALLY_FUNCTIONAL"/>
        <xs:enumeration value="HIGH"/>
        <xs:enumeration value="HIGH_SKIP_CMODEL"/>
        <xs:enumeration value="HIGH_SKIP_DEVICE"/>
      </xs:restriction>
  </xs:simpleType>


	<xs:attributeGroup name="AppToPhyDbMappingType">
        <xs:attribute name="Device" use="optional" type="DeviceType"/>
		<xs:attribute name="Hook" use="optional" type="IntegerOrDnxDataPattern"/>
	</xs:attributeGroup>

  <xs:attributeGroup name="fieldPhyDbMappingType">
        <xs:attribute name="Device" use="optional" type="DeviceType"/>
        <xs:attribute name="Image"  use="optional" type="xs:string"/>
  </xs:attributeGroup>



    <xs:complexType name="TableInterfaceType">
    <xs:sequence>
        <xs:element name="Key" minOccurs="1" maxOccurs="1">
        <xs:complexType>
        <xs:sequence>
            <xs:element name="Field" minOccurs="0" maxOccurs="unbounded"  type="FieldDefinitionType">
            <!--
            <xs:complexType>
                <xs:attributeGroup ref="FieldDefinitionAttr" />
            </xs:complexType>
             -->
            </xs:element>
        </xs:sequence>
        </xs:complexType>
        </xs:element>
        <xs:choice>
            <xs:element name="Result" minOccurs="1" maxOccurs="1">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="Field" minOccurs="1" maxOccurs="unbounded"  type="FieldDefinitionType">
                <!--
                <xs:complexType>
                    <xs:attributeGroup ref="FieldDefinitionAttr" />
                </xs:complexType>
                 -->
                </xs:element>
            </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="MultipleResults" minOccurs="1" maxOccurs="1">
            <xs:complexType>
            <xs:sequence>
                <xs:element name="Result" minOccurs="1" maxOccurs="unbounded">
                <xs:complexType>
                <xs:sequence>
                    <xs:element name="Field" minOccurs="1" maxOccurs="unbounded"  type="FieldDefinitionTypeWithResultType">
                                   <!--
                    <xs:complexType>

                        <xs:attributeGroup ref="FieldDefinitionAttr"/>



                        <xs:attribute name="Value"  type="xs:string" use="optional"/>
                    </xs:complexType>
                         -->
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="Device" type="DeviceType"></xs:attribute>
                </xs:complexType>
                </xs:element>
            </xs:sequence>
            </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:element name="TableLabels" type="LabelListType" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
        <xs:attributeGroup ref="LogicalTableTypeAttr"/>
    </xs:complexType>

    <xs:complexType name="LastHitInterfaceType">
    <xs:sequence>
        <xs:element name="Key" minOccurs="1" maxOccurs="1">
        <xs:complexType>
        <xs:sequence>
            <xs:choice>
                 <xs:element name="Stage" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                 <xs:sequence>
                     <xs:element name="Signal" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                         <xs:attributeGroup ref="SignalDefinitionAttr" />
                     </xs:complexType>
                     </xs:element>
                 </xs:sequence>
                 </xs:complexType>
                 </xs:element>
                 <xs:element name="MultipleStages" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                 <xs:sequence>
                     <xs:element name="Stage" minOccurs="1" maxOccurs="1">
                     <xs:complexType>
                         <xs:sequence>
                         <xs:element name="Signal" minOccurs="0" maxOccurs="unbounded">
                         <xs:complexType>
                             <xs:attributeGroup ref="SignalDefinitionAttr" />
                         </xs:complexType>
                         </xs:element>
                     </xs:sequence>
                     </xs:complexType>
                     </xs:element>
                 </xs:sequence>
                 </xs:complexType>
                 </xs:element>
             </xs:choice>
        </xs:sequence>
        </xs:complexType>
        </xs:element>

        <xs:element name="Result" minOccurs="1" maxOccurs="1">
        <xs:complexType>
        <xs:sequence>
            <xs:choice>
                 <xs:element name="Stage" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                 <xs:sequence>
                     <xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
                     <xs:complexType>
                         <xs:attributeGroup ref="FieldDefinitionAttr" />
                     </xs:complexType>
                     </xs:element>
                 </xs:sequence>
                 </xs:complexType>
                 </xs:element>
                 <xs:element name="MultipleStages" minOccurs="1" maxOccurs="1">
                 <xs:complexType>
                 <xs:sequence>
                     <xs:element name="Stage" minOccurs="1" maxOccurs="1">
                     <xs:complexType>
                         <xs:sequence>
                         <xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
                         <xs:complexType>
                             <xs:attributeGroup ref="FieldDefinitionAttr" />
                         </xs:complexType>
                         </xs:element>
                     </xs:sequence>
                     </xs:complexType>
                     </xs:element>
                 </xs:sequence>
                 </xs:complexType>
                 </xs:element>
             </xs:choice>
        </xs:sequence>
        </xs:complexType>
        </xs:element>
    </xs:sequence>
    </xs:complexType>

    <!-- Table phy mapping part -->
    <xs:attributeGroup name="FieldMappingDefAttr">
        <xs:attribute name="Name" use="required" type="ShortNamePattern"/>
        <xs:attribute name="Device" use="optional" type="DeviceType"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="PerAccessAttr">
        <xs:attribute name="instanceIndex" type="IntegerOrDnxDataPatternOrAll" use="optional"/>
        <xs:attribute name="EncodeType" use="optional" type="EncodingType"/>
        <xs:attribute name="EncodeValue" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Size" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Offset" use="optional" type="IntegerOrDnxDataPattern"/>        
    </xs:attributeGroup>
    <xs:attributeGroup name="PemlaFieldMappingAttr">
        <xs:attribute name="Name" type ="ShortNamePattern"/>
        <xs:attribute name="HwValue" type="IntegerOrDnxDataPattern" use="required"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ResultIndicatorMappingAttr">
         <xs:attribute name="LogicalValue" type="xs:string"/>
         <xs:attribute name="Value"  type="IntegerOrDnxDataPattern" use="required"/>
         <xs:attribute name="Value1" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value2" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value3" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value4" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value5" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value6" type="IntegerOrDnxDataPattern" use="optional"/>
         <xs:attribute name="Value7" type="IntegerOrDnxDataPattern" use="optional"/> <!-- DBAL_MAX_NOF_HW_VALUES_TO_RESULT_TYPE -->
         <xs:attribute name="Priority" type="IntegerOrDnxDataPattern" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="MapResTypeToSwAttr">
        <xs:attribute name="SwState" type="string_0_1" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="ResultTypeForFieldMappingAttr">
         <xs:attribute name="ResultType" type="xs:string" use="optional"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="CondAttr">
        <xs:attribute name="Field" use="optional" type="ShortNamePattern"/>
        <xs:attribute name="Type" type="ConditionTypes"/>
        <xs:attribute name="Value" use="optional" type="IntegerOrDnxDataPattern"/>
        <xs:attribute name="Enum" use="optional" type="xs:string"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="MemoryOffsetAttr">
         <xs:attribute name="Formula" use="optional" type="FormulaPattern"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="HwFieldAttr">
        <xs:attribute name="Name" type="HwFieldNamePattern"/>
    </xs:attributeGroup>
    <xs:complexType name="CoreModeType">
        <xs:attribute name="Mode" type="CoreModeTypes"/>
    </xs:complexType>


    <xs:complexType name="MemoryType">
        <xs:sequence>
            <xs:element name="Alias" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DataOffset" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:attributeGroup ref="MemoryOffsetAttr"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="MemoryNameAttr"/>
                </xs:complexType>
            </xs:element>

            <xs:element name="GroupOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ArrayOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="EntryOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BlockIndex" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="HwField" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="HwFieldAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="MemoryNameAttr"/>
        <xs:attributeGroup ref="GroupNameAttr"/>
    </xs:complexType>

    <xs:complexType name="RegisterType">
        <xs:sequence>
            <xs:element name="Alias" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DataOffset" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:attributeGroup ref="MemoryOffsetAttr"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attributeGroup ref="RegisterNameAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ArrayOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="GroupOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="BlockIndex" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="HwField" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="HwFieldAttr"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="DataOffset" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attributeGroup ref="MemoryOffsetAttr"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="GroupNameAttr"/>
        <xs:attributeGroup ref="RegisterNameAttr"/>
    </xs:complexType>

    <xs:complexType name="SwStateType">
       <xs:attribute name="SwType">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="SW"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="HwAccessMapping">
    <xs:sequence>
        <xs:element name="KeyCondition" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
            <xs:attributeGroup ref="CondAttr" />
        </xs:complexType>
        </xs:element>
        <xs:choice>
            <xs:element name="Memory" type="MemoryType" />
            <xs:element name="Register" type="RegisterType" />
            <xs:element name="SwState" type="SwStateType" />
        </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="PerAccessAttr"/>
    </xs:complexType>
    <!-- App Ids and Db Ids -->
    <xs:attributeGroup name="AppDbAttr">
         <xs:attribute name="Size" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="6"/>
                    <xs:pattern value="([0-9])"/>
                </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="63"/>
                    <xs:pattern value="([0-9])+"/>
                </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="PemlaDbIdAttr">
         <xs:attribute name="Value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:integer">
                    <xs:pattern value="([0-9])+"/>
                </xs:restriction>
            </xs:simpleType>
         </xs:attribute>
    </xs:attributeGroup>

    <xs:complexType name="MaturityType">
      <xs:attribute name="Device" type="DeviceType" />
      <xs:attribute name="Level" type="LevelType" />
      <xs:attribute name="Jira" use="optional">
        <xs:simpleType>
          <xs:restriction base="JiraPattern"/>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>

    <xs:complexType name="fieldMappingTcamType">
    <xs:sequence>
            <xs:element name="Access" type="HwAccessMapping" minOccurs="1" maxOccurs="1"/> <!-- maxOccurs = ????? -->
    </xs:sequence>
        <xs:attributeGroup ref="FieldMappingDefAttr" />
    </xs:complexType>


</xs:schema>

